@use "../settings/vars" as *;

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  font-weight: 700;
  line-height: 1;
  color: $main;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}
